In [1]:
import requests as rq
import lxml.html as lx
import pandas as pd
import re

In [2]:
#read html + make df for general stats


url = 'https://www.espn.com/nba/team/stats/_/name/sac/salary'
names = pd.read_html(url)[0]
stats = pd.read_html(url)[1]
kings_stats = pd.concat([names,stats],axis = "columns")

In [3]:
# read html + make df for shooting stats


shoot = pd.read_html(url)[3]
kings_shoot_stats = pd.concat([names,shoot], axis = "columns")

In [4]:
# clean up "name" and drop total from df


words = []
for i in kings_shoot_stats["Name"]:
    words.append(i.split()[0:2])
words = pd.DataFrame(words)
words.columns = ["First","Last"]
words["Names"] = words['First']+" "+ words["Last"]
words = words.drop("First", axis = 1).drop("Last", axis = 1)
kings_shoot_stats["Name"] = words
kings_shoot_stats = kings_shoot_stats.drop(16)

In [5]:
#create salary df
url2 = "https://www.espn.com/nba/team/roster/_/name/sac/salary"
kings_salary_raw = pd.read_html(url2)[0]

In [6]:
#Strips player number from each players name

for i in range(0,len(kings_salary_raw)):
    kings_salary_raw["Name"][i] = re.sub(r"\d+", "", str(kings_salary_raw["Name"][i]))

C:\Users\Jonathan\AppData\Local\Temp\ipykernel_13572\3064642318.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kings_salary_raw["Name"][i] = re.sub(r"\d+", "", str(kings_salary_raw["Name"][i]))

In [7]:
#Cleans dataframe to only player name + salary
kings_salary = kings_salary_raw.set_index("Name").drop('Unnamed: 0', axis = 1)
kings_salary.columns
kings_salary = kings_salary.drop(['POS', 'Age', 'HT', 'WT', 'College'], axis = 1)

In [8]:
#combine dfs. final kings 2022 df


kings_stats_22 = kings_shoot_stats.join(kings_salary, on = "Name")

In [9]:
#create dict for 2018-2023 team stats


from time import sleep



tab = pd.DataFrame()
#Empty dictionary
tab_dict = {}
#Fetches data from 2018-2019 to 2022-2023 seasons
for i in range(2019, 2024):
    #Changes the url for each season
    url_loop = "https://www.espn.com/nba/stats/team/_/season/"+str(i)+"/seasontype/2"
    sleep(.02)
    #Gets dataframe with only team names
    team_names = pd.read_html(url_loop)[0]
    #Gets dataframe with all corresponding team stats
    team_stats = pd.read_html(url_loop)[1]
    #Concatenates the two above data frames
    tab = pd.concat([team_names,team_stats],axis = "columns")
    #Labels dataframe by year
    #tab = tab.style.set_caption(str(i-1)+"-"+str(i))
    name = "tab_"+str(i-1)
    #Adds to dictionary with 'tab_20xx' as key and the corresponding dataframe as the value
    tab_dict[name] = tab

In [10]:
#create dict for 2018-2023 opponent team stats


from time import sleep



tab = pd.DataFrame()
#Empty dictionary
tab_dict_op = {}
#Fetches data from 2018-2019 to 2022-2023 seasons
for i in range(2019, 2024):
    #Changes the url for each season
    url_loop_op = "https://www.espn.com/nba/stats/team/_/view/opponent/season/"+str(i)+"/seasontype/2"
    sleep(.02)
    #Gets dataframe with only team names
    team_names = pd.read_html(url_loop_op)[0]
    #Gets dataframe with all corresponding team stats
    team_stats = pd.read_html(url_loop_op)[1]
    #Concatenates the two above data frames
    tab = pd.concat([team_names,team_stats],axis = "columns")
    #Labels dataframe by year
    #tab = tab.style.set_caption(str(i-1)+"-"+str(i))
    name = "tab_op_"+str(i-1)
    #Adds to dictionary with 'tab_20xx' as key and the corresponding dataframe as the value
    tab_dict_op[name] = tab

tab_dict_op

{'tab_op_2018':     RK                    Team  GP    PTS   FGM   FGA   FG%   3PM   3PA   3P%  \
 0    1          Indiana Pacers  82  104.7  38.7  86.1  45.0  11.4  32.1  35.4
 1    2              Miami Heat  82  105.9  38.3  86.8  44.1  11.9  33.1  35.8
 2    3       Memphis Grizzlies  82  106.1  37.6  83.4  45.1  11.6  32.2  36.0
 3    4               Utah Jazz  82  106.5  40.0  88.5  45.2   9.8  27.7  35.5
 4    5           Orlando Magic  82  106.6  39.9  87.6  45.6  10.5  30.2  34.7
 5    6          Denver Nuggets  82  106.7  39.6  86.4  45.8  10.8  31.9  33.9
 6    7         Detroit Pistons  82  107.3  39.9  85.0  46.9   9.6  27.8  34.5
 7    8          Boston Celtics  82  108.0  39.5  88.1  44.8  11.5  33.5  34.4
 8    9         Toronto Raptors  82  108.4  40.3  89.7  44.9  10.8  31.2  34.5
 9   10         Houston Rockets  82  109.1  40.4  86.7  46.6  10.1  29.8  34.0
 10  11         Milwaukee Bucks  82  109.3  40.5  93.5  43.3  13.1  36.3  36.1
 11  12       San Antonio Spurs  82  110.0  41.5  89.7  46.3  11.7  32.7  35.9
 12  13        Dallas Mavericks  82  110.1  40.9  89.2  45.9  11.2  32.5  34.4
 13  14  Portland Trail Blazers  82  110.5  41.1  90.0  45.7  10.7  29.8  35.9
 14  15   Oklahoma City Thunder  82  111.1  40.8  88.7  46.0  11.2  31.6  35.6
 15  16   Golden State Warriors  82  111.2  40.4  91.1  44.4  11.6  33.6  34.7
 16  17       Charlotte Hornets  82  111.8  41.9  89.2  47.0  12.1  33.5  36.1
 17  18           Brooklyn Nets  82  112.3  42.2  92.5  45.6  10.3  30.3  34.1
 18  19      Philadelphia 76ers  82  112.5  41.7  91.5  45.5  10.3  30.0  34.2
 19  20           Chicago Bulls  82  113.4  42.2  89.2  47.3  12.1  33.0  36.5
 20  21      Los Angeles Lakers  82  113.5  41.9  92.8  45.2  11.8  34.0  34.9
 21  22         New York Knicks  82  113.8  41.9  89.7  46.7  11.8  32.6  36.3
 22  23  Minnesota Timberwolves  82  114.0  42.1  90.1  46.7  12.7  33.6  37.8
 23  24     Cleveland Cavaliers  82  114.1  43.2  87.2  49.5  12.0  31.6  38.0
 24  25             LA Clippers  82  114.3  41.7  91.3  45.7  10.4  30.2  34.3
 25  26        Sacramento Kings  82  115.3  42.3  90.6  46.6  12.0  34.6  34.8
 26  27    New Orleans Pelicans  82  116.8  43.3  92.8  46.6  12.3  33.7  36.4
 27  28            Phoenix Suns  82  116.8  42.5  88.2  48.2  11.1  29.9  37.2
 28  29      Washington Wizards  82  116.9  43.4  90.5  48.0  12.1  32.8  37.0
 29  30           Atlanta Hawks  82  119.4  42.8  90.5  47.3  12.4  34.4  35.9

     ...   FTA   FT%    OR    DR   REB   AST  STL  BLK    TO    PF
 0   ...  21.0  75.6  10.5  33.1  43.7  24.5  7.4  5.2  14.9  20.0
 1   ...  22.7  76.9  10.1  34.0  44.2  23.3  7.5  4.7  13.5  20.1
 2   ...  24.7  78.4   9.5  35.2  44.7  23.4  7.6  4.9  14.5  21.4
 3   ...  22.2  75.3   8.9  33.7  42.6  21.6  8.5  4.6  13.4  22.4
 4   ...  20.9  77.8   9.0  35.6  44.6  23.1  7.0  4.4  12.5  18.7
 5   ...  22.2  75.3   9.7  32.7  42.5  24.6  7.4  5.0  13.0  20.4
 6   ...  23.7  75.5   9.1  34.6  43.7  23.7  6.9  5.1  13.6  21.3
 7   ...  22.8  76.4  10.4  35.5  45.9  23.7  6.8  3.9  14.6  19.5
 8   ...  22.3  76.5  10.6  34.2  44.8  24.5  7.6  4.5  14.3  20.5
 9   ...  23.7  76.8  11.0  34.5  45.4  23.5  7.4  4.5  14.5  20.0
 10  ...  20.7  73.3   9.9  35.4  45.3  24.8  6.8  4.8  13.0  20.2
 11  ...  20.2  75.5   9.2  34.7  43.9  24.7  7.2  4.0  11.7  19.6
 12  ...  22.0  77.7  10.2  34.6  44.8  24.5  7.8  4.5  12.5  23.2
 13  ...  22.8  77.0  10.3  32.6  42.8  23.2  7.4  5.1  11.9  20.7
 14  ...  24.0  76.1   9.9  35.8  45.7  24.9  8.2  5.1  16.0  22.5
 15  ...  24.2  77.3  10.8  33.5  44.3  24.3  7.7  3.6  12.9  19.5
 16  ...  20.2  78.7  10.1  35.7  45.8  26.0  6.9  6.0  13.0  20.6
 17  ...  22.8  77.0  11.0  35.2  46.2  23.7  7.8  5.3  12.8  22.0
 18  ...  24.5  76.8  10.0  33.5  43.5  23.4  7.7  4.1  12.3  22.1
 19  ...  22.0  76.3  10.0  36.4  46.4  25.5  7.3  5.8  12.8  18.7
 20  ...  22.7  78.4  11.3  35.6  46.9  25.0  8.3  5.1  13.5  20.8
 21  ...  23.8  76.6  10.7  36.8  47.5  25.6  7.4  5.6  12.7  20.8
 22  ...  22.3  76.7  11.2  34.4  45.6  26.2  6.6  5.5  14.3  21.9
 23  ...  20.5  77.0   9.5  34.6  44.1  25.7  6.9  5.6  12.0  19.4
 24  ...  26.3  77.7  11.3  34.5  45.7  24.1  8.3  6.1  12.7  24.0
 25  ...  24.4  77.0  11.2  36.8  48.0  24.7  7.5  5.1  15.3  21.4
 26  ...  23.5  76.4  11.0  34.8  45.8  26.5  8.6  5.4  13.1  21.0
 27  ...  27.6  75.3  11.8  35.3  47.2  25.9  9.0  5.0  15.2  20.7
 28  ...  23.1  77.8  11.4  35.8  47.3  26.2  7.7  4.6  15.0  21.2
 29  ...  28.3  75.8  10.6  35.4  46.0  26.9  9.9  5.5  14.6  22.2

 [30 rows x 21 columns],
 'tab_op_2019':     RK                    Team  GP    PTS   FGM   FGA   FG%   3PM   3PA   3P%  \
 0    1         Toronto Raptors  72  106.5  37.8  88.3  42.8  13.1  38.9  33.7
 1    2          Boston Celtics  72  107.3  38.4  87.1  44.1  11.8  34.8  34.0
 2    3          Indiana Pacers  73  107.5  39.5  88.5  44.6  11.5  33.6  34.1
 3    4      Los Angeles Lakers  71  107.6  39.1  87.1  44.8  11.6  33.4  34.9
 4    5           Orlando Magic  73  108.3  40.4  86.9  46.5  12.2  33.6  36.4
 5    6      Philadelphia 76ers  73  108.4  39.8  86.0  46.3  10.4  29.4  35.3
 6    7   Oklahoma City Thunder  72  108.4  40.8  89.6  45.5  11.3  33.3  34.0
 7    8         Milwaukee Bucks  73  108.6  38.9  94.0  41.4  14.0  39.3  35.5
 8    9               Utah Jazz  72  108.8  40.7  89.1  45.7  11.0  31.0  35.3
 9   10              Miami Heat  73  109.1  38.8  86.7  44.8  13.1  37.7  34.7
 10  11          Denver Nuggets  73  109.2  40.0  86.5  46.3  12.1  33.9  35.8
 11  12       Charlotte Hornets  65  109.6  41.7  87.5  47.6  12.4  35.1  35.2
 12  13             LA Clippers  72  109.9  39.5  90.2  43.8  12.3  35.6  34.5
 13  14           Chicago Bulls  65  109.9  39.5  82.5  47.9  11.2  31.6  35.3
 14  15         Detroit Pistons  66  110.8  41.9  87.3  48.0  10.7  29.6  36.1
 15  16        Dallas Mavericks  75  112.1  41.9  91.6  45.8  12.3  34.9  35.1
 16  17        Sacramento Kings  72  112.1  40.3  85.5  47.1  12.4  34.8  35.7
 17  18         New York Knicks  66  112.3  39.9  86.0  46.3  13.3  34.9  38.1
 18  19           Brooklyn Nets  72  112.3  41.4  92.9  44.6  12.2  34.8  35.0
 19  20            Phoenix Suns  73  113.4  41.2  87.4  47.2  11.6  32.0  36.3
 20  21       Memphis Grizzlies  73  113.7  40.6  90.3  45.0  12.9  35.3  36.5
 21  22     Cleveland Cavaliers  65  114.8  43.9  89.4  49.1  12.4  33.0  37.5
 22  23         Houston Rockets  72  114.8  42.3  91.5  46.2  12.2  35.0  34.9
 23  24   Golden State Warriors  65  115.0  42.2  88.6  47.6  13.5  34.8  38.9
 24  25       San Antonio Spurs  71  115.2  42.3  90.2  46.9  13.1  35.1  37.3
 25  26  Portland Trail Blazers  74  116.1  41.8  91.6  45.6  13.6  35.4  38.3
 26  27    New Orleans Pelicans  72  117.1  42.7  91.8  46.5  12.2  33.9  36.1
 27  28  Minnesota Timberwolves  64  117.5  43.1  90.4  47.7  11.6  31.9  36.3
 28  29      Washington Wizards  72  119.1  43.1  88.4  48.8  12.4  33.1  37.6
 29  30           Atlanta Hawks  67  119.7  43.3  90.7  47.8  11.9  32.7  36.3

     ...   FTA   FT%    OR    DR   REB   AST  STL  BLK    TO    PF
 0   ...  23.2  76.9  10.9  35.1  46.1  25.6  7.2  5.5  16.0  20.4
 1   ...  24.5  76.7  10.3  34.0  44.3  22.4  7.1  5.5  14.6  20.7
 2   ...  21.6  78.8  10.4  34.9  45.2  23.1  6.9  4.6  14.0  18.8
 3   ...  22.9  78.1   9.4  32.9  42.3  23.4  8.2  3.7  15.2  21.7
 4   ...  19.8  77.1   9.0  35.8  44.9  24.7  7.0  4.6  14.1  19.5
 5   ...  24.5  75.1   8.6  33.2  41.8  22.8  7.0  4.0  13.4  20.5
 6   ...  19.6  79.5  10.5  34.3  44.8  23.0  7.0  4.0  13.7  22.8
 7   ...  21.2  78.7   9.5  36.3  45.8  24.2  7.4  4.5  13.6  21.7
 8   ...  21.5  76.7   9.6  33.1  42.7  21.5  7.9  4.6  11.8  20.8
 9   ...  23.6  78.3   9.2  33.3  42.5  24.6  7.5  4.1  13.6  21.7
 10  ...  22.5  75.9  10.1  32.6  42.6  25.4  7.2  4.4  13.7  20.5
 11  ...  18.4  75.8  10.9  35.0  46.0  26.6  8.0  5.0  13.5  20.6
 12  ...  24.5  75.6  10.7  34.6  45.3  23.7  7.5  4.7  13.6  22.9
 13  ...  26.0  75.9  10.2  35.4  45.5  25.4  8.2  5.9  17.5  19.2
 14  ...  20.9  77.7  10.1  33.4  43.5  24.6  8.2  5.6  13.2  19.8
 15  ...  21.0  76.0  10.4  35.0  45.4  23.9  7.0  4.1  11.4  21.3
 16  ...  24.3  79.0   9.1  34.5  43.5  24.9  7.7  4.2  14.6  19.5
 17  ...  25.7  74.9   9.6  34.6  44.2  24.3  7.2  5.0  13.1  19.8
 18  ...  22.6  76.9  10.6  35.3  45.9  22.6  7.7  5.3  12.3  21.1
 19  ...  24.5  78.8   9.1  34.2  43.3  23.6  7.9  5.5  15.0  22.6
 20  ...  25.0  78.2  10.4  34.5  44.9  24.8  8.0  5.3  14.3  20.2
 21  ...  19.2  76.7   9.7  33.1  42.9  26.1  9.4  6.3  12.6  19.6
 22  ...  23.7  76.1  11.2  36.7  47.9  25.3  8.0  4.9  15.5  21.0
 23  ...  21.9  78.3  10.2  36.3  46.5  26.1  8.2  4.9  14.7  20.1
 24  ...  22.5  77.7   9.4  35.9  45.3  25.7  6.8  4.3  12.8  20.1
 25  ...  24.7  77.1  11.5  35.4  46.9  24.9  6.8  4.9  12.4  20.1
 26  ...  24.7  78.9  10.1  34.7  44.8  24.5  8.5  4.8  13.9  21.1
 27  ...  25.2  78.3  10.1  37.2  47.3  24.4  7.8  5.5  14.8  21.6
 28  ...  26.3  77.8  10.5  35.7  46.2  25.2  7.5  5.0  15.5  22.2
 29  ...  27.4  77.2  11.2  35.9  47.0  25.0  9.0  6.4  14.4  21.0

 [30 rows x 21 columns],
 'tab_op_2020':     RK                    Team  GP    PTS   FGM   FGA   FG%   3PM   3PA   3P%  \
 0    1         New York Knicks  72  104.7  37.9  86.2  44.0  12.0  35.6  33.7
 1    2      Los Angeles Lakers  72  106.8  39.8  86.4  46.0  11.4  32.2  35.2
 2    3               Utah Jazz  72  107.2  40.9  91.4  44.7  10.9  31.8  34.1
 3    4             LA Clippers  72  107.8  40.1  86.4  46.4  11.6  32.5  35.6
 4    5              Miami Heat  72  108.0  39.1  85.2  45.9  14.3  39.1  36.5
 5    6      Philadelphia 76ers  72  108.1  39.4  86.9  45.3  11.9  33.0  36.0
 6    7            Phoenix Suns  72  109.5  40.5  86.8  46.7  11.6  32.8  35.4
 7    8          Denver Nuggets  72  110.1  40.0  85.4  46.9  13.0  35.7  36.3
 8    9        Dallas Mavericks  72  110.2  40.1  87.1  46.0  12.8  35.2  36.5
 9   10         Detroit Pistons  72  111.1  41.4  86.9  47.6  11.3  31.4  36.2
 10  11          Boston Celtics  72  111.2  39.9  86.0  46.4  12.8  34.3  37.4
 11  12           Atlanta Hawks  72  111.4  41.3  89.1  46.3  11.9  34.2  34.9
 12  13       Charlotte Hornets  72  111.4  41.3  88.1  46.8  14.5  39.5  36.6
 13  14           Chicago Bulls  72  111.6  41.4  87.7  47.3  11.5  32.3  35.6
 14  15         Toronto Raptors  72  111.7  39.0  84.7  46.1  13.9  36.7  37.9
 15  16       Memphis Grizzlies  72  112.3  41.0  88.7  46.2  12.9  35.1  36.7
 16  17     Cleveland Cavaliers  72  112.3  42.0  86.7  48.4  12.4  32.4  38.3
 17  18   Golden State Warriors  72  112.7  40.2  89.0  45.2  12.4  34.5  35.9
 18  19       San Antonio Spurs  72  112.8  42.4  89.8  47.2  12.3  32.6  37.7
 19  20           Orlando Magic  72  113.3  42.2  89.7  47.1  13.7  36.8  37.3
 20  21           Brooklyn Nets  72  114.1  41.9  91.3  45.9  13.2  36.2  36.5
 21  22         Milwaukee Bucks  72  114.2  42.4  92.9  45.6  14.8  38.6  38.4
 22  23  Portland Trail Blazers  72  114.3  41.8  88.3  47.3  12.9  34.6  37.2
 23  24    New Orleans Pelicans  72  114.9  41.9  89.3  46.9  14.5  38.1  38.0
 24  25          Indiana Pacers  72  115.3  42.7  91.3  46.8  11.5  31.5  36.6
 25  26   Oklahoma City Thunder  72  115.6  43.4  91.7  47.3  13.6  37.3  36.4
 26  27         Houston Rockets  72  116.7  42.7  89.0  48.0  13.4  35.2  38.2
 27  28        Sacramento Kings  72  117.4  43.6  89.4  48.8  12.4  32.6  38.0
 28  29  Minnesota Timberwolves  72  117.7  43.0  89.3  48.2  13.1  33.5  39.2
 29  30      Washington Wizards  72  118.5  43.1  91.6  47.1  12.4  33.7  36.9

     ...   FTA   FT%    OR    DR   REB   AST  STL  BLK    TO    PF
 0   ...  22.2  76.1   9.7  34.4  44.1  23.6  6.6  5.4  12.2  17.9
 1   ...  20.5  77.6   8.8  33.2  42.0  24.7  8.2  4.5  14.5  21.3
 2   ...  18.9  76.8   9.8  32.8  42.6  22.3  7.7  3.9  11.0  19.0
 3   ...  20.7  77.7   9.2  32.0  41.2  22.9  7.1  4.2  12.4  18.1
 4   ...  19.9  78.2   9.5  33.4  42.9  25.8  7.5  4.0  14.3  19.6
 5   ...  22.8  76.4   9.8  33.2  42.9  23.5  7.2  4.7  14.9  21.0
 6   ...  21.7  77.8   9.4  33.3  42.7  22.9  6.9  3.6  13.0  18.0
 7   ...  22.1  77.3   9.1  32.1  41.2  25.9  7.5  4.5  13.5  19.2
 8   ...  22.5  76.4   9.8  34.2  43.9  22.7  7.3  3.7  12.0  20.1
 9   ...  22.3  76.0  10.0  34.4  44.3  24.8  8.0  5.8  13.3  20.4
 10  ...  23.5  78.5   9.4  33.1  42.5  24.1  7.4  4.6  13.5  19.3
 11  ...  21.1  80.3  10.0  32.7  42.7  24.4  7.7  5.0  11.9  19.8
 12  ...  19.3  74.5  10.6  34.5  45.2  27.1  8.1  4.8  14.1  18.6
 13  ...  22.2  77.4   8.7  33.5  42.1  24.1  8.5  5.1  12.1  17.7
 14  ...  24.8  79.9  10.0  35.9  45.9  26.0  6.6  5.6  15.3  19.5
 15  ...  22.1  78.8   9.8  34.9  44.7  25.4  7.7  5.2  14.2  18.3
 16  ...  20.4  77.9   9.9  33.8  43.7  25.4  8.5  5.9  13.5  20.2
 17  ...  25.5  77.8  10.7  36.6  47.3  23.8  7.9  4.3  14.5  19.5
 18  ...  20.7  75.8  10.2  37.2  47.4  24.8  6.3  5.1  12.5  18.6
 19  ...  19.3  78.6   9.8  37.6  47.4  26.0  7.6  5.3  12.2  18.7
 20  ...  22.0  77.5  10.5  32.6  43.1  24.0  7.6  4.6  12.1  18.9
 21  ...  18.8  78.0   9.6  33.8  43.4  25.1  7.0  4.8  12.7  18.3
 22  ...  22.8  78.7   9.9  35.5  45.4  24.9  6.1  4.6  12.0  19.1
 23  ...  21.1  79.0   8.9  32.9  41.8  25.9  7.7  5.9  12.8  21.3
 24  ...  23.5  78.2  11.3  35.5  46.8  26.1  7.4  5.3  14.3  18.1
 25  ...  19.8  77.3  10.1  37.0  47.1  25.8  9.0  5.3  12.5  18.6
 26  ...  22.8  78.3   9.9  37.7  47.6  25.8  8.5  5.3  13.8  19.3
 27  ...  22.7  78.7  10.7  34.6  45.2  25.3  7.6  4.7  13.2  18.7
 28  ...  23.5  78.6  10.0  35.8  45.8  26.8  7.6  5.5  14.7  19.9
 29  ...  25.4  78.1  10.3  35.8  46.1  24.5  8.2  4.8  14.1  22.0

 [30 rows x 21 columns],
 'tab_op_2021':     RK                    Team  GP    PTS   FGM   FGA   FG%   3PM   3PA   3P%  \
 0    1          Boston Celtics  82  104.5  38.3  88.1  43.4  11.8  34.9  33.9
 1    2        Dallas Mavericks  82  104.7  39.0  85.4  45.7  10.9  32.1  34.0
 2    3   Golden State Warriors  82  105.5  37.9  86.6  43.8  12.2  36.0  33.9
 3    4              Miami Heat  82  105.6  37.5  84.0  44.7  13.0  38.3  33.9
 4    5     Cleveland Cavaliers  82  105.7  39.5  87.2  45.2  11.7  33.2  35.3
 5    6         New York Knicks  82  106.6  38.5  86.0  44.7  12.7  37.0  34.2
 6    7         Toronto Raptors  82  107.1  39.0  84.4  46.2  12.4  34.9  35.4
 7    8      Philadelphia 76ers  82  107.3  39.7  86.5  45.8  11.4  32.8  34.6
 8    8            Phoenix Suns  82  107.3  39.2  88.3  44.4  11.6  34.2  34.0
 9   10               Utah Jazz  82  107.6  40.4  89.2  45.3  12.1  34.6  35.0
 10  11             LA Clippers  82  108.4  40.8  90.6  45.0  11.7  33.9  34.5
 11  12       Memphis Grizzlies  82  109.9  40.3  88.6  45.5  12.0  34.5  34.9
 12  13    New Orleans Pelicans  82  110.3  40.3  85.5  47.1  13.0  35.5  36.5
 13  14          Denver Nuggets  82  110.4  41.1  87.4  47.0  11.8  34.2  34.6
 14  15   Oklahoma City Thunder  82  111.8  41.4  90.5  45.8  13.6  38.7  35.3
 15  16      Washington Wizards  82  112.0  41.3  88.9  46.4  11.5  31.8  36.1
 16  16           Chicago Bulls  82  112.0  41.4  87.4  47.4  11.7  32.0  36.6
 17  18           Brooklyn Nets  82  112.1  40.7  90.2  45.2  12.5  36.3  34.5
 18  19         Milwaukee Bucks  82  112.1  41.4  90.6  45.6  14.5  40.6  35.6
 19  20           Orlando Magic  82  112.2  40.8  89.0  45.8  13.2  36.3  36.3
 20  21           Atlanta Hawks  82  112.4  41.9  89.0  47.1  12.8  35.2  36.4
 21  22         Detroit Pistons  82  112.5  40.6  86.0  47.3  11.8  32.5  36.2
 22  23       San Antonio Spurs  82  113.0  42.5  91.2  46.6  12.1  33.6  36.0
 23  24  Minnesota Timberwolves  82  113.3  40.2  87.4  46.0  13.1  37.3  35.0
 24  25       Charlotte Hornets  82  114.9  42.0  90.1  46.6  14.0  38.7  36.2
 25  26          Indiana Pacers  82  114.9  42.5  88.0  48.3  12.0  32.3  37.2
 26  27  Portland Trail Blazers  82  115.1  41.1  85.9  47.9  13.8  37.1  37.1
 27  28      Los Angeles Lakers  82  115.1  42.6  90.5  47.0  12.6  35.8  35.2
 28  29        Sacramento Kings  82  115.8  43.4  90.6  47.9  13.0  34.9  37.2
 29  30         Houston Rockets  82  118.2  43.4  89.9  48.3  12.8  36.2  35.3

     ...   FTA   FT%    OR    DR   REB   AST  STL  BLK    TO    PF
 0   ...  20.6  78.3  10.5  33.3  43.7  21.6  7.5  4.6  13.0  19.4
 1   ...  20.6  76.7   9.5  34.1  43.6  23.5  7.0  3.7  12.5  20.1
 2   ...  22.9  75.9   9.7  33.0  42.6  22.9  7.9  3.9  13.7  18.0
 3   ...  22.5  77.9   9.5  32.1  41.7  23.3  7.4  4.0  14.1  20.6
 4   ...  19.4  77.4  10.5  32.4  42.9  24.1  8.4  4.6  12.8  20.0
 5   ...  22.3  76.4   9.3  34.3  43.6  24.2  7.0  4.6  11.9  20.4
 6   ...  21.2  78.9  10.3  33.7  44.0  25.3  6.7  5.1  15.1  19.1
 7   ...  21.6  76.9  10.2  34.0  44.2  23.6  6.6  4.6  12.5  19.4
 8   ...  22.7  76.1  10.5  33.9  44.5  22.9  7.5  4.0  14.0  18.9
 9   ...  19.3  75.8   9.9  31.7  41.6  23.4  7.8  4.3  11.3  20.3
 10  ...  19.6  77.5  12.0  35.1  47.1  24.1  7.7  4.1  13.0  18.5
 11  ...  22.4  77.1  10.0  33.0  43.0  25.0  7.2  6.0  14.4  19.8
 12  ...  21.4  78.6   9.3  32.5  41.8  24.9  7.4  4.8  13.7  20.5
 13  ...  21.7  75.7   9.7  32.7  42.4  25.4  7.9  4.8  12.2  19.9
 14  ...  19.9  77.1  11.0  37.3  48.4  26.1  8.5  6.0  12.7  17.8
 15  ...  22.3  80.7  10.2  34.0  44.2  23.7  7.3  4.2  11.3  19.9
 16  ...  21.9  79.5   9.3  33.9  43.2  25.0  7.1  5.0  12.4  18.2
 17  ...  23.0  78.8  11.3  32.8  44.1  23.8  7.9  4.9  12.4  19.7
 18  ...  19.9  75.1   9.9  34.2  44.1  25.9  7.4  4.4  12.4  19.7
 19  ...  22.6  77.2  10.4  36.8  47.1  24.8  8.0  5.2  12.5  18.3
 20  ...  19.9  79.2  10.2  33.6  43.9  25.4  7.0  4.5  12.0  20.3
 21  ...  25.1  77.7  10.3  35.9  46.3  25.1  7.4  5.2  13.8  19.8
 22  ...  20.9  76.7  11.4  35.4  46.8  24.0  7.3  4.9  13.0  18.9
 23  ...  25.4  78.0  11.0  34.9  45.9  26.2  7.2  4.8  15.5  20.9
 24  ...  22.1  76.3  11.4  35.6  47.0  26.5  7.5  4.6  14.4  19.6
 25  ...  22.5  79.7  10.2  33.0  43.1  25.1  8.1  4.9  12.5  19.2
 26  ...  24.6  77.7   9.8  35.0  44.7  26.6  8.2  5.0  13.3  19.4
 27  ...  23.3  74.7  11.0  35.6  46.6  26.3  8.3  4.1  13.3  20.1
 28  ...  20.5  77.6  10.6  35.3  45.8  25.3  8.1  4.8  12.6  20.3
 29  ...  23.7  78.2  11.2  34.5  45.7  25.6  9.5  5.8  13.3  22.1

 [30 rows x 21 columns],
 'tab_op_2022':     RK                    Team  GP    PTS   FGM   FGA   FG%   3PM   3PA   3P%  \
 0    1             LA Clippers  17  105.4  39.1  88.5  44.2  11.8  34.9  33.9
 1    2        Dallas Mavericks  15  105.8  38.3  81.4  47.1  10.2  28.4  35.9
 2    3      Philadelphia 76ers  16  106.6  39.1  84.6  46.2  10.4  32.7  31.7
 3    4         Milwaukee Bucks  15  106.6  39.7  89.7  44.3  11.2  31.3  35.8
 4    5  Portland Trail Blazers  16  108.3  39.7  86.3  46.0  12.1  34.4  35.3
 5    6            Phoenix Suns  15  108.8  38.7  84.0  46.0  12.3  31.5  39.0
 6    7      Washington Wizards  16  109.9  40.0  89.0  44.9  12.9  34.4  37.5
 7    8              Miami Heat  16  109.9  40.8  85.8  47.5  13.6  37.1  36.6
 8    9         Toronto Raptors  17  110.0  39.4  82.0  48.1  12.1  33.9  35.8
 9   10     Cleveland Cavaliers  15  110.1  39.7  86.0  46.1  12.3  33.1  37.1
 10  11           Brooklyn Nets  16  111.4  39.4  88.1  44.7  13.5  35.1  38.5
 11  12           Chicago Bulls  16  111.6  40.6  84.9  47.8  12.1  31.4  38.6
 12  13    New Orleans Pelicans  16  112.4  41.6  88.7  46.9  12.1  36.1  33.4
 13  14           Orlando Magic  17  112.9  41.4  89.8  46.1  13.1  38.0  34.5
 14  15          Boston Celtics  16  113.0  42.0  91.2  46.1  11.4  32.3  35.4
 15  16       Memphis Grizzlies  16  113.2  41.4  90.1  46.0  13.3  36.6  36.2
 16  17               Utah Jazz  18  114.2  42.8  90.4  47.3  10.1  31.1  32.4
 17  18           Atlanta Hawks  16  114.4  41.4  90.6  45.7  10.8  33.3  32.5
 18  19          Indiana Pacers  15  114.9  39.9  87.6  45.6  13.1  34.3  38.1
 19  20          Denver Nuggets  15  115.0  42.9  87.2  49.2  12.0  34.2  35.1

In [22]:
url3 = "https://www.espn.com/nba/standings/_/season/2023"
names = pd.read_html(url3)[0]
stats = pd.read_html(url3)[1]

In [23]:
nbateams = tab_dict['tab_2021']["Team"]
nbateams

0     Minnesota Timberwolves
1          Memphis Grizzlies
2            Milwaukee Bucks
3          Charlotte Hornets
4               Phoenix Suns
5              Atlanta Hawks
6                  Utah Jazz
7          San Antonio Spurs
8              Brooklyn Nets
9             Denver Nuggets
10        Los Angeles Lakers
11            Boston Celtics
12             Chicago Bulls
13            Indiana Pacers
14     Golden State Warriors
15          Sacramento Kings
16                Miami Heat
17        Philadelphia 76ers
18           Houston Rockets
19           Toronto Raptors
20      New Orleans Pelicans
21        Washington Wizards
22               LA Clippers
23          Dallas Mavericks
24       Cleveland Cavaliers
25           New York Knicks
26    Portland Trail Blazers
27           Detroit Pistons
28             Orlando Magic
29     Oklahoma City Thunder
Name: Team, dtype: object

In [24]:
team1 = names.columns[0]
names.columns = ["Team"]
new_row = pd.DataFrame({names.columns[0]:team1}, index=[0])
names = pd.concat([new_row,names.loc[:]]).reset_index(drop=True)
for i in range(0, len(names.iloc[:,0])):
    for team in nbateams:
        #print(team)
        if names.iloc[:,0][i].__contains__(team):
            names.iloc[:,0][i] = team
        else:
            continue
#for i in range(0, len(names.iloc[:,0])):
#    if i < 8:
#        names.iloc[i,0] = names.iloc[i,0][4:]
#    elif i == 8:
#        names.iloc[i,0] = names.iloc[i,0][3:]
#    elif i == 9:
#        names.iloc[i,0] = names.iloc[i,0][5:]
#    else:
#        names.iloc[i,0] = names.iloc[i,0][3:]
temp = names.join(stats.iloc[:,0:2])
temp
names

                   Team
0        Boston Celtics
1       Milwaukee Bucks
2         Atlanta Hawks
3   Cleveland Cavaliers
4        Indiana Pacers
5    Washington Wizards
6       Toronto Raptors
7    Philadelphia 76ers
8         Brooklyn Nets
9       New York Knicks
10           Miami Heat
11        Chicago Bulls
12        Orlando Magic
13    Charlotte Hornets
14      Detroit Pistons

In [14]:
url4 = "https://www.espn.com/nba/standings/_/season/2022"
names = pd.read_html(url4)[0]
stats = pd.read_html(url4)[1]
#names.iloc[:,0][11].split()
names

              1z --MIAMiami Heat
0         2y --BOSBoston Celtics
1        3y --MILMilwaukee Bucks
2     4x --PHIPhiladelphia 76ers
3        5x --TORToronto Raptors
4          6x --CHIChicago Bulls
5         7xp --BKNBrooklyn Nets
6         8xp --ATLAtlanta Hawks
7   9pb --CLECleveland Cavaliers
8    10pb --CHACharlotte Hornets
9          e --NYNew York Knicks
10     e --WSHWashington Wizards
11         e --INDIndiana Pacers
12        e --DETDetroit Pistons
13          e --ORLOrlando Magic

In [15]:
#Dataframes available:
kings_stats
kings_shoot_stats
kings_salary
tab_dict #tab_dict['tab_2019]...tab_dict['tab_2022']
tab_dict_op
kings_stats_22

,Name,FGM,FGA,FG%,3PM,3PA,3P%,FTM,FTA,FT%,2PM,2PA,2P%,SC-EFF,SH-EFF,Salary
0,De'Aaron Fox,9.5,17.2,55.4,1.8,4.9,37.5,3.9,4.8,82.3,7.7,12.3,62.5,1.442,0.61,"$28,103,550"
1,Domantas Sabonis,6.3,10.8,58.3,0.3,1.1,26.7,4.9,6.5,74.7,6.0,9.7,61.8,1.642,0.60,"$18,500,000"
2,Kevin Huerter,5.4,10.9,49.7,3.6,7.1,51.0,1.6,2.4,66.7,1.8,3.8,47.2,1.471,0.66,"$14,508,929"
3,Malik Monk,4.5,10.0,45.0,2.1,5.5,37.7,2.0,2.1,93.3,2.4,4.5,54.0,1.307,0.55,"$9,472,219"
4,Keegan Murray,4.6,10.2,45.1,2.3,6.0,37.5,0.6,0.8,77.8,2.3,4.2,56.0,1.180,0.56,"$8,008,440"
5,Harrison Barnes,3.6,8.1,43.9,0.9,3.4,25.5,3.6,4.4,83.6,2.7,4.8,56.7,1.430,0.49,"$18,352,273"
6,Terence Davis,2.8,5.8,48.7,1.5,3.8,40.8,0.9,1.1,85.7,1.3,2.1,63.0,1.395,0.62,"$4,000,000"
7,Trey Lyles,2.4,6.0,40.3,1.5,4.3,35.3,0.8,1.3,66.7,0.9,1.8,52.4,1.194,0.53,"$2,700,000"
8,Davion Mitchell,2.8,5.9,47.6,0.9,2.8,33.3,0.3,0.4,66.7,1.9,3.1,60.5,1.159,0.55,"$4,833,600"
9,Chimezie Metu,2.1,3.9,53.8,0.2,1.2,16.7,0.6,0.7,85.7,1.9,2.7,70.4,1.282,0.56,"$1,910,680"
10,Richaun Holmes,1.8,2.4,72.7,0.1,0.1,100.0,0.4,0.7,66.7,1.7,2.3,71.4,1.682,0.75,"$11,215,260"
11,Matthew Dellavedova,0.6,1.8,33.3,0.4,0.6,66.7,0.0,0.0,0.0,0.2,1.2,16.7,0.889,0.44,"$1,836,090"
12,KZ Okpala,0.3,0.8,33.3,0.1,0.5,25.0,0.5,0.5,100.0,0.1,0.3,50.0,1.500,0.42,"$1,782,621"
13,Alex Len,0.4,0.6,66.7,0.0,0.0,0.0,0.2,0.4,50.0,0.4,0.6,66.7,1.667,0.67,"$3,918,000"
14,Chima Moneke,0.5,1.0,50.0,0.0,0.0,0.0,0.0,1.0,0.0,0.5,1.0,50.0,1.000,0.50,"$1,017,781"
15,Keon Ellis,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.00,--