In [1]:
%store -r player_stats_shoot_salary_temp
%store -r kings_final_df

In [2]:
import pandas as pd

In [3]:
pd.set_option('display.max_columns', None)

In [4]:
kings_final_df

,Name,FGM,FGA,FG%,3PM,3PA,3P%,FTM,FTA,FT%,2PM,2PA,2P%,SC-EFF,SH-EFF,GP,GS,MIN,PTS,OR,DR,REB,AST,STL,BLK,TO,PF,AST/TO,Salary
0,De'Aaron Fox,8.9,17.0,52.6,1.9,4.9,39.4,4.2,5.1,82.3,7.0,12.1,58.1,1.412,0.58,19,19.0,31.8,24.0,0.5,4.4,4.9,6.0,1.1,0.5,2.6,2.7,2.3,"$28,103,550"
1,Domantas Sabonis,6.1,10.4,58.5,0.4,1.2,29.2,4.2,5.7,74.3,5.7,9.2,62.3,1.609,0.60,20,20.0,32.2,16.7,2.2,8.9,11.0,6.4,0.8,0.5,2.6,3.8,2.5,"$18,500,000"
2,Kevin Huerter,5.6,11.4,48.9,3.2,7.1,45.1,1.6,2.4,68.1,2.4,4.3,55.3,1.401,0.63,20,20.0,32.0,15.9,0.4,3.0,3.4,3.2,1.1,0.5,1.6,2.4,2.1,"$14,508,929"
3,Malik Monk,5.3,10.8,48.8,2.0,5.6,36.0,2.1,2.3,89.1,3.3,5.2,62.5,1.353,0.58,20,0.0,22.5,14.6,0.4,1.8,2.2,4.4,0.7,0.2,1.9,1.8,2.3,"$9,472,219"
4,Harrison Barnes,4.0,8.4,47.6,0.9,3.2,28.1,4.3,5.0,86.9,3.1,5.2,59.6,1.571,0.53,20,20.0,30.5,13.2,1.1,4.4,5.5,2.0,0.9,0.2,1.2,1.5,1.7,"$18,352,273"
5,Keegan Murray,3.9,9.8,39.8,1.8,5.6,31.7,1.1,1.2,86.4,2.1,4.2,50.7,1.085,0.49,18,16.0,28.6,10.6,0.9,3.1,3.9,0.9,0.7,0.6,1.7,2.1,0.6,"$8,008,440"
6,Terence Davis,2.5,5.6,44.9,1.5,3.6,40.6,0.7,0.8,87.5,1.1,2.0,52.6,1.290,0.58,19,1.0,13.3,7.3,0.4,2.6,3.0,1.4,0.7,0.2,0.7,1.8,1.9,"$4,000,000"
7,Davion Mitchell,2.7,5.9,46.2,0.9,2.7,34.0,0.4,0.6,72.7,1.8,3.2,56.3,1.145,0.54,20,1.0,19.1,6.7,0.1,1.2,1.3,2.1,0.5,0.2,1.1,1.5,2.0,"$4,833,600"
8,Trey Lyles,2.2,5.3,41.2,1.3,3.8,35.0,1.0,1.4,72.7,0.9,1.6,56.0,1.259,0.54,16,0.0,14.7,6.7,1.1,1.8,2.8,0.8,0.4,0.4,1.1,1.1,0.7,"$2,700,000"
9,Chimezie Metu,2.3,4.0,57.8,0.2,1.0,18.8,0.6,0.7,90.9,2.1,3.0,70.8,1.359,0.60,16,0.0,12.5,5.4,0.7,2.6,3.3,0.7,0.3,0.2,0.6,1.1,1.1,"$1,910,680"
10,Richaun Holmes,1.5,2.2,66.7,0.1,0.2,50.0,0.4,0.5,66.7,1.4,2.0,68.2,1.542,0.69,11,0.0,10.9,3.4,0.7,1.5,2.3,0.0,0.2,0.1,0.5,1.6,0.0,"$11,215,260"
11,KZ Okpala,0.6,1.2,50.0,0.3,0.6,42.9,0.3,0.3,100.0,0.3,0.6,57.1,1.500,0.61,12,3.0,7.8,1.8,0.3,0.8,1.2,0.4,0.2,0.2,0.1,1.2,5.0,"$1,782,621"
12,Alex Len,0.7,1.0,66.7,0.0,0.0,0.0,0.2,0.3,50.0,0.7,1.0,66.7,1.500,0.67,6,0.0,3.3,1.5,0.5,0.8,1.3,0.2,0.0,0.0,0.0,0.5,inf,"$3,918,000"
13,Matthew Dellavedova,0.5,1.8,28.6,0.3,0.6,40.0,0.0,0.1,0.0,0.3,1.1,22.2,0.714,0.36,8,0.0,6.5,1.3,0.1,0.3,0.4,1.3,0.3,0.0,0.5,0.6,2.5,"$1,836,090"
14,Chima Moneke,0.5,1.0,50.0,0.0,0.0,0.0,0.0,1.0,0.0,0.5,1.0,50.0,1.000,0.50,2,0.0,4.0,1.0,1.0,0.0,1.0,0.5,0.0,0.0,1.0,1.0,0.5,"$1,017,781"
15,Keon Ellis,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.00,1,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,--

In [ ]:
import plotnine as p9
import numpy as np
import statsmodels.api as sm 
import pandas as pd
import re
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.float_format', lambda x: '%.5f' % x)

### DATA CLEANING

In [ ]:
df = player_stats_shoot_salary_temp
df_names = df["Name"]
df

In [ ]:
kings_df = kings_final_df
kings_df

In [ ]:
def df_clean(df):
    df = df.drop("Name", axis = "columns").dropna()
    drop_df = df[df["AST/TO"].isin([np.inf, -np.inf])]
    df = df.drop(drop_df.index)
    for name in df.columns:
        if name in ["FGM","FGA","3PM","3PA","2PM","2PA","FTM","FTA"]:
            df = df.drop(name, axis = "columns") 
    return df

In [ ]:
df = df_clean(df)

In [ ]:
for name in df.columns:

    if name in ["FGM","FGA","3PM","3PA","2PM","2PA","FTM","FTA"]:
        df = df.drop(name, axis = "columns")
    
df

### MODEL BUILDING

In [ ]:
df = sm.add_constant(df)

In [ ]:
ols = sm.OLS(np.log(df['Salary']),df.drop(columns = 'Salary')) 
ols_res = ols.fit()

In [ ]:
ols_res.summary()

In [ ]:
df = df.drop("OR", axis = "columns")

In [ ]:
df = df.drop("STL", axis = "columns")

In [ ]:
df = df.drop("PF", axis = "columns")

In [ ]:
df = df.drop("TO", axis = "columns")

In [ ]:
df = df.drop("BLK", axis = "columns") #.473

In [ ]:
df = df.drop("FG%", axis = "columns")

In [ ]:
df = df.drop("AST/TO", axis = "columns")

In [ ]:
df = df.drop("SH-EFF", axis = "columns")

In [ ]:
df = df.drop("GS", axis = "columns") #.482

In [ ]:
df = df.drop("REB", axis = "columns")

In [ ]:
df = df.drop("3P%", axis = "columns")

In [ ]:
df = df.drop("PER", axis = "columns")

In [ ]:
#df = df.drop("SC-EFF", axis = "columns")

### REMOVING OUTLIERS

In [ ]:
#ols_res.resid_pearson[ols_res.resid_pearson < -5]

In [ ]:
#ols_res.predict()[ols_res.resid_pearson < -4]

In [ ]:
#df["Residuals"] = ols_res.resid_pearson

In [ ]:

#temp_df = df[round(df["Residuals"]) < -4]
#df = df.drop(temp_df.index)

In [ ]:
#temp_df

In [ ]:
#df = df.drop("Residuals", axis = "columns")

### MODEL SELECTION

In [ ]:
#df = df.drop("MIN", axis = "columns")

In [ ]:
#df = df.drop("SC-EFF", axis = "columns")

In [ ]:
#df = df.drop("BLK", axis = "columns")

In [ ]:
#df = df.drop("GS", axis = "columns")

In [ ]:
#df = df.drop("2P%", axis = "columns")

In [ ]:
#df = df.drop("FT%", axis = "columns")

In [ ]:
#df = df.drop("TO", axis = "columns")

In [ ]:
#df = df.drop("AST/TO", axis = "columns")

In [ ]:
#df = df.drop("PF", axis = "columns")

In [ ]:
#df = df.drop("PER", axis = "columns")

In [ ]:
#df = df.drop("SH-EFF", axis = "columns")

In [ ]:
#df = df.drop("3P%", axis = "columns") #adj R squared max

In [ ]:
ols = sm.OLS(np.log(df['Salary']),df.drop(columns = 'Salary')) 
ols_res = ols.fit() 
ols_res.summary()

In [ ]:
#ols_res.predict(kings_df.drop(columns = 'Salary'))

### DIAGNOSTIC PLOTS

In [ ]:
(
    p9.ggplot(mapping = p9.aes(x = 'ols_res.fittedvalues', 
                                            y = "ols_res.resid_pearson"))
    + p9.geom_point()
    + p9.geom_smooth(color = "red")
    + p9.labs(title = "Fitted vs Residuals", x = 'Fitted values', y = 'Residuals')
)

In [ ]:
(
    p9.ggplot(mapping = p9.aes(sample = "ols_res.resid_pearson"))
    + p9.geom_abline(p9.aes(intercept = 0, slope = 1), color = 'red')
    + p9.stats.stat_qq()
    + p9.labs(title = "QQ-Plot with Pearson Residuals")
)

In [ ]:
df["Residuals"] = ols_res.resid_pearson
temp_df2 = df[round(df["Residuals"]) < -2]
temp_df2

In [ ]:
df = df.drop(temp_df2.index)
df = df.drop("Residuals", axis = "columns")

In [ ]:
ols = sm.OLS(np.log(df['Salary']),df.drop(columns = 'Salary')) 
ols_res = ols.fit() 
ols_res.summary()

In [ ]:
(
    p9.ggplot(mapping = p9.aes(x = 'ols_res.fittedvalues', 
                                            y = "ols_res.resid_pearson"))
    + p9.geom_point()
    + p9.geom_smooth(color = "red")
    + p9.labs(title = "Fitted vs Residuals", x = 'Fitted values', y = 'Residuals')
)

In [ ]:
(
    p9.ggplot(mapping = p9.aes(sample = "ols_res.resid_pearson"))
    + p9.geom_abline(p9.aes(intercept = 0, slope = 1), color = 'red')
    + p9.stats.stat_qq()
    + p9.labs(title = "QQ-Plot with Pearson Residuals")
)

### KINGS

In [ ]:
kings_df

In [ ]:
rearrange = kings_df.iloc[:,0:15]
rearrange_no_name = rearrange.iloc[:,1:]
rearrange

In [ ]:
kings_df = kings_df.drop(rearrange_no_name, axis = "columns")
kings_df

In [ ]:
kings_df = pd.merge(kings_df,rearrange, how = "left", on = "Name")
salary = kings_df.pop("Salary")
kings_df = pd.concat([kings_df, salary], axis = 'columns')

In [ ]:
kings_df

In [ ]:
#replace all the "--" and NAN to 0

kings_df['Salary'] = kings_df['Salary'].replace("--", '0')
kings_df['Salary'] = kings_df['Salary'].replace(np.NaN, '0')
#remove $ and , signals
for i in range(0,len(kings_df)):
    kings_df['Salary'][i] = kings_df['Salary'][i].lstrip('$')
    kings_df['Salary'][i] = kings_df['Salary'][i].replace(',','')
    #turn Salary to numbers
    kings_df['Salary'][i] = int(kings_df['Salary'][i])
#replace all 0 to NAN
kings_df['Salary'] = kings_df['Salary'].replace(0, np.NaN)
#drop all NAN
kings_df = kings_df.dropna()

In [ ]:
kings_names = kings_df["Name"]

In [ ]:
kings_df

In [ ]:
kings_df = df_clean(kings_df)

In [ ]:
#Model Selection
#kings_df = kings_df.drop("MIN", axis = "columns")
#kings_df = kings_df.drop("SC-EFF", axis = "columns")
#kings_df = kings_df.drop("BLK", axis = "columns")
#kings_df = kings_df.drop("GS", axis = "columns")
#kings_df = kings_df.drop("2P%", axis = "columns")
#kings_df = kings_df.drop("FT%", axis = "columns")
#kings_df = kings_df.drop("TO", axis = "columns")
#kings_df = kings_df.drop("AST/TO", axis = "columns")
#kings_df = kings_df.drop("PF", axis = "columns")
#kings_df = kings_df.drop("PER", axis = "columns")
#kings_df = kings_df.drop("SH-EFF", axis = "columns")
#kings_df = kings_df.drop("3P%", axis = "columns")

In [ ]:
kings_df = kings_df.drop("OR", axis = "columns")
kings_df = kings_df.drop("STL", axis = "columns")
kings_df = kings_df.drop("PF", axis = "columns")
kings_df = kings_df.drop("TO", axis = "columns")
kings_df = kings_df.drop("BLK", axis = "columns")
kings_df = kings_df.drop("FG%", axis = "columns")
kings_df = kings_df.drop("AST/TO", axis = "columns")
kings_df = kings_df.drop("SH-EFF", axis = "columns")
kings_df = kings_df.drop("GS", axis = "columns")
kings_df = kings_df.drop("REB", axis = "columns") 
kings_df = kings_df.drop("3P%", axis = "columns")
kings_df = kings_df.drop("PER", axis = "columns")
#kings_df = kings_df.drop("SC-EFF", axis = "columns")

In [ ]:
kings_df = sm.add_constant(kings_df)

In [ ]:
kings_df["GP"] = kings_df["GP"].astype("float64")

In [ ]:
ols_res.predict(kings_df.drop(columns = 'Salary'))

DO I NEED THIS? DON'T I JUST USE THE PREDICTED VALUES FROM THE OTHER MODEL?

In [ ]:
#kings_ols = sm.OLS(np.log(kings_df['Salary']),kings_df.drop(columns = 'Salary')) 
#kings_ols_res = kings_ols.fit() 
#kings_ols_res.summary()

In [ ]:
kings_df["Predicted"] = np.exp(ols_res.predict(kings_df.drop(columns = 'Salary')))
kings_df.insert(0,"Names",kings_names)
kings_df["Residuals"]= kings_df["Salary"]-kings_df["Predicted"]

In [ ]:
kings_df

In [ ]:
kings_df["Residuals"].sum()

In [ ]:
kings_df["Salary"] = np.log(kings_df["Salary"])
kings_df["Predicted"] =  np.log(kings_df["Predicted"])
kings_df["Residuals"]= kings_df["Salary"]-kings_df["Predicted"]
kings_df

In [ ]:
kings_df["Residuals"].sum()

(
    p9.ggplot(mapping = p9.aes(x = 'kings_ols_res.fittedvalues', 
                                            y = "kings_ols_res.resid_pearson"))
    + p9.geom_point()
    + p9.labs(title = "Fitted vs Residuals", x = 'Fitted values', y = 'Residuals')
)

(
    p9.ggplot(mapping = p9.aes(sample = "kings_ols_res.resid_pearson"))
    + p9.geom_abline(p9.aes(intercept = 0, slope = 1), color = 'red')
    + p9.stats.stat_qq()
    + p9.labs(title = "QQ-Plot with Pearson Residuals")
)

In [ ]:
# Look up specific player
df.insert(0,"Names",df_names)
df["Predicted"] = np.exp(ols_res.predict())

In [ ]:
df[df["Names"]=="Anthony Davis"]
df